.week {
    margin:auto;
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}
.number {
    color: #45d900;
}
.day {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.column {
    list-style: none;
    margin: 10px 15px;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: #fff;
    font-weight: 400;
}
.column li:last-child .row {
    border: none;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 30px;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 5px 10px;
}
.info {
    font-size: 20px;
}
#last-row {
    border: none;
}

.timetable {
    width: 1200px;
    text-align: center;
    margin: 5px auto 10px;
    font-size: 32px;
}
textarea {
    outline: none;
    border: none;
    resize: none;
    overflow-y: hidden;
}
.timetableUpdate {
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    margin: 10px 0;
}
.timetableAdmin {
    width: 15%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
.timetableContent{
    width: 75%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
.timetableUpdateButton {
    font-size: 18px;
    box-sizing: border-box;
    width: 20%;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    transition: 0.2s ease;
}
.timetableUpdateButton:hover {
    background-color: #f2f2f2;
}

.updateButton {
    text-decoration: none;
    text-align: center;
    width: 100px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid black;
    transition: 0.2s ease;
}
.updateButton:hover {
    background-color: #f2f2f2;
}


@media (max-width: 1210px) {
    .bgPosts, .bgPost, .news{
        width: 99%;
    }
    .bgPosts {
        margin: 0 auto;
        padding: 5px 0;
    }
    .bgPost {
        padding-bottom: 1px;
    }
    .columnNews {
        text-align: start;
    }
    .timetable {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .bgPosts {
        margin: 10px auto 0;
    }
    .timetable {
        margin: 5px auto 15px;
    }
    .day {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .timetable {
        font-size: 22px;
    }
    .info {
        font-size: 14px;
    }
    .column {
        padding: 0;
        font-size: 14px;
    }
}
