textarea {
	outline: none;
	border: none;
	resize: none;
	overflow-y: hidden;
}
h2 {
	color: #d09959;
	font-size: 32px;
	text-align: center;
	margin: 15px 0;
	padding: 0;
}
.information {
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
	margin: 15px 50px;
	font-size: 18px;
	border-radius: 5px;

}
.group-mate {
	margin: 5px 50px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-bottom: 15px;
	border: 2px solid black;
	
}
.pos {
	display: flex;
	align-items: center;
	margin: 10px 20px 0 10px;
}
.photo img {
	display: block;
	padding: 10px;
	border-radius: 23px;
	width: 100px;
	height: 100px;
	margin-right: 20px;
}
.profile {
	width: 100%;
}

.profile-name {
	box-sizing: border-box;
	margin: 15px 0 5px;
	font-size: 20px;
	width: 100%;
	font-weight: bold;
	text-align: left;
}
.profile-text {
	box-sizing: border-box;
	font-size: 18px;
	width: 100%;
	text-align: left;
}

.update textarea {
	outline: none;
	border: none;
	resize: none;
	overflow-y: hidden;
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0 20px;
}

.update {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	width: 100%;
	padding: 5px;
	margin: 0 auto;
}

.updateText {
	width: 20%;
	text-align: left;
	padding-left: 1%;
}
.updateChange {
	display: flex;
	width: 100%;

}
.updateName {
	width: 70%;
}
.updateButton {
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	background-color: #fff;
	color: black;
	border-radius: 5px;
	border: 2px solid black;
	transition: 0.2s ease;

}
.updateButton:hover {
	background-color: #f2f2f2;
}
@media (max-width: 1210px) {
 	.updateButton{
	margin-right: 10px;
	}
}
@media (max-width: 767px) {
	.information {
		margin: 15px 10px;
	}
	.group-mate {
		margin: 5px 10px;
		font-size: 16px;
	}
	.pos {
		margin: 5px 10px 0 5px;
	}
	.photo img {
		margin: 0;
		padding-left: 0;
	}
	.profile-name {
		margin: 10px 0 5px;
	}

}

@media (max-width: 480px) {
	.update {
		flex-direction: column;
	}
	.updateButton {
		margin: 5px 0;
	}
	.updateText {
		width: 100%;
		text-align: center;
		padding: 5px 0;
	}
}
